{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Daily News</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <style>
      .bg {
        background: url("{% static 'img/background.jpg' %}") 55% 70% no-repeat
          fixed;
      }
    </style>
  </head>

  <body>
    <div class="title bg">
      <h1>{{ title }}</h1>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
